label + .btn {
  margin-left: 5px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEyIDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMiAxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I0QzMkUwMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTYsMTEuMWMtMi44LDAtNS4xLTIuMy01LjEtNS4xUzMuMiwwLjksNiwwLjlzNS4xLDIuMyw1LjEsNS4xUzguOCwxMS4xLDYsMTEuMXogTTYsMTAuMWMyLjMsMCw0LjEtMS44LDQuMS00LjENCglTOC4zLDEuOSw2LDEuOVMxLjksMy43LDEuOSw2UzMuNywxMC4xLDYsMTAuMXogTTUuNSw3LjVoMXYxaC0xVjcuNXogTTUuNSwzLjVoMXYzLjFoLTFWMy41eiIvPg0KPC9zdmc+DQo=);
  background-size: calc(1.3rem) calc(1.3rem);
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDggOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgOCA4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojMjhBNzQ1O30NCjwvc3R5bGU+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMy4xLDUuNGwzLjgtMy44bDAuNiwwLjZMMy4xLDYuNUwwLjUsMy45bDAuNi0wLjZMMy4xLDUuNHoiLz4NCjwvc3ZnPg0K);
  background-size: calc(1.3rem) calc(1.3rem);
}

.form-control-select.is-invalid > div,
.input-group.is-invalid .input-group-text {
  border: 1px solid $form-feedback-invalid-color;
}

.form-control-select.is-valid > div,
.input-group.is-valid .input-group-text {
  border: 1px solid $form-feedback-valid-color;
}
